NODE_ENV=development
PORT=3000

DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=finance_db

DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/finance_db?schema=public
JWT_SECRET=secret_jwt_key

REDIS_URL=redis://localhost:6379